@for $i from 1 through 20 {
    .mb { 
        &-#{$i} {
            margin-bottom: $i + px;
        }
    }
    
    .pb { 
        &-#{$i} {
            padding-bottom: $i + px;
        }
    }
    
    .mt { 
        &-#{$i} {
            margin-top: $i + px;
        }
    }
    
    .pt { 
        &-#{$i} {
            padding-top: $i + px;
        }
    }
    
    .ml { 
        &-#{$i} {
            margin-left: $i + px;
        }
    }
    
    .pl { 
        &-#{$i} {
            padding-left: $i + px;
        }
    }
    
    .mr {
        &-#{$i} {
            margin-right: $i + px;
        }
    }
    
    .pr {
        &-#{$i} {
            padding-right: $i + px;
        }
    }
}
@for $j from 21 through 100 {
    @if($j % 5 == 0) {
        .mb { 
            &-#{$j} {
                margin-bottom: $j + px;
            }
        }
        
        .pb { 
            &-#{$j} {
                padding-bottom: $j + px;
            }
        }

        .mt { 
            &-#{$j} {
                margin-top: $j + px;
            }
        }

        .pt { 
            &-#{$j} {
                padding-top: $j + px;
            }
        }

        .ml { 
            &-#{$j} {
                margin-left: $j + px;
            }
        }
        
        .pl { 
            &-#{$j} {
                padding-left: $j + px;
            }
        }

        .mr {
            &-#{$j} {
                margin-right: $j + px;
            }
        }
        
        .pr {
            &-#{$j} {
                padding-right: $j + px;
            }
        }
    }
}